/* Root elements */

:root {
	--main-font: 'EB Garamond', serif;
	--secondary-font: Helvetica, sans-serif;
	--secondary-font-color: #727272;
}

body, html {
	font-size: 18px;
	font-family: var(--main-font);
	line-height: 1.25;
	scroll-margin-top: 200px;
}

/******************************************************************************/
/* Base element selectors */

p {
	font-family: var(--main-font) !important;
}

h1 {
	font-family: var(--main-font);
	font-weight: 900 !important;
	font-size: 3.5rem !important;
	padding-bottom: 1.15rem;
}

h2 {
	font-family: var(--main-font);
	font-weight: 900 !important;
	font-size: 2.6666666667rem !important;
	padding-bottom: 1.15rem;
}

h3 {
	font-weight: 900 !important;
	font-size: 2.16667rem !important;
}

img {
	max-height: 70vh;
	max-width: 100%;
    width: auto; 
}

iframe {
	max-height: 66vh;
	max-width: 100%;

	margin: auto;
	display: block;
}

section {
	padding-top: 2rem;
}

/******************************************************************************/
/* Article-related class selectors */

.articleauthor {
	font-style: italic;
}

.articletitle {
	font-size: 2.166rem;
	font-weight: 900;
}

.articlesubtitle p {
	font-weight: 900 !important;
}

.article {
	font-family: 'EB Garamond', serif;
	font-size: 1rem;
	font-weight: 300;
	max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.article p {
	font-family: 'EB Garamond', serif;
	font-size: 1rem;
	font-weight: 300;
	text-align: justify;
}

.article li p {
	margin: 0.5rem;
	line-height: 1rem;
}

.firstletter {
	font-size: 2rem;
	font-weight: 900;	
}

/******************************************************************************/
/* Navbar, main text content, & footer classes */

.navbar {
	background: #939393 !important;
	padding-left: 10px;
	padding-right: 10px;
}

.footer {
	font-family: var(--main-font) !important;
	font-style: italic;
	padding-top: 2rem;
	text-align: justify;
}

.main-content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.project-card {
	font-family: 'EB Garamond', serif;
	margin-bottom: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;

	outline: black solid 1px;
}

.group-name {
	text-align: center;
	padding: 2px;
}

.center {
	padding-top: 1.15rem;
	padding-bottom: 1.5rem;
}

.project-name {
	text-align: center;
	font-size: 1.66rem;
	line-height: 1.66rem;
	font-weight: 600;
	padding: 2px;
	padding-bottom: 0.333em;
}

.project-summary {
	padding-bottom: 1.15em;
	text-align: justify;
}

.team-members {
	padding-bottom: 0.75em;
	font-style: italic;
	padding-top: 1.15rem;
}

/******************************************************************************/
/* Image-related classes */

.collage-image-container img {
	padding-bottom: 0.625rem;
	margin: auto;
	display: block;
}

.collage-image-caption {
	width: 80%;
	margin-left: auto;
	font-family: var(--secondary-font) !important;
	color: var(--secondary-font-color) !important;
	font-size: 0.8rem;
	line-height: 1.2;
	text-align: end;
}

.caption-citation {
	font-size: 0.5rem;
}
