:root {
	/* --main-font: Roboto, Helvetica, Arial, sans-serif; */
	--main-font: Roboto;
	/* --secondary-font: "Nunito Sans"; */
	--secondary-font: Roboto;
	--mono-font: "Roboto Mono";
}

html {
	font-family: var(--main-font);
	line-height: 1.25;
}

.navbar {
	background: #F5EFDF !important;
}

p {
	font-family: var(--secondary-font);
}

.article li p {
	margin: 0.5rem;
	line-height: 1rem;
}

h3 {
	text-decoration: underline;
	font-weight: 900 !important;
	font-size: 1em !important;
}

.articlesubtitle p {
	font-weight: 900 !important;
}

.articleauthor {
	font-style: italic;
}

.article p {
	font-family: 'EB Garamond', serif;
	font-size: 1rem;
	font-weight: 300;
	text-align: justify;
}

.firstletter {
	font-size: 2rem;
	font-weight: 900;	
}

/* .articledate {
} */

.articletitle {
	font-size: 2.166rem;
	font-weight: 900;
}

.article {
	font-family: 'EB Garamond', serif;
	font-size: 1rem;
	font-weight: 300;
	width: 600px;
	max-width: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 600px;
}

/* .navbar {
	position: sticky;
	top: 0;
}

.navbar li {
	display: inline;
	float: left;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
} */

.navbar {
	padding-left: 10px;
	padding-right: 10px;
}

.main-content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.project-card {
	margin-bottom: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;

	outline: black solid 1px;
}

.group-name {
	text-align: center;
	/* font-weight: 600; */
	padding: 2px;
	/* padding-bottom: 0.75em; */
}

.project-name {
	text-align: center;
	font-size: 1.33rem;
	line-height: 1.66rem;
	font-weight: 600;
	padding: 2px;
	padding-bottom: 0.333em;
}

.project-summary {
	padding-bottom: 1.15em;
}

.team-members {
	padding-bottom: 0.75em;
	font-style: italic;
}

.collage-image-container img {
	/* height: 100%;
	width: 100%;
	padding-bottom: 0.333em; */
	margin: auto;
	display: block;
}


img {
	max-height: 50vh;
	max-width: 100%;
	/* height: auto;  */
    width: auto; 
}

iframe {
	max-height: 66vh;
	max-width: 100%;
}

.collage-image-caption {
	font-style: italic;
	line-height: 1.15;
	padding-bottom: 1.15em;
}

section {
	padding-top: 4em;
}

.notdone {
	color: red;
	/* border: 5px red solid; */
}

.notdone iframe {
	border:5px red solid;
}

.notdone img {
	border:5px red solid;
}